body {
    font-family: Optima, sans-serif;
    margin: 0;
    height: 100%;
}

/* Header Styles */

header {
    background-color: black;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header a {
    text-decoration: none;
    color: #F4F4F4;
}
header h1 {
    color: #F4F4F4;
    text-decoration: none;
    letter-spacing: 1.5px;
}
header nav {
    padding-top: 13px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: #F4F4F4;
    text-decoration: none;
    font-size: 20px;
    padding: 0 15px;
    letter-spacing: 1.5px;
}
header nav ul li a:hover {
    background-color: #F4F4F4;
    color: black;
    border-radius: 10px;
}

/* Hero Styles */

.hero img {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* About Styles */

.about {
    display: flex;
    width: 100%;
    height: auto;
}
.about-image {
    width: 10px;
    height: 10px;
}

/* Footer Styles */

footer {
    background-color: black;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%
}
footer h2 {
    color: #F4F4F4;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin: 0;
    padding: 30px;
}
